.main-container {
    direction: ltr;
    display: grid;
    justify-content: start;
    grid-template-areas:
        'image-container'
        'text-field'
        'time';
}

.text-field {
    grid-area: text-field;
    width: fit-content;
    display: flex;
}

.text-field p {
    grid-area: text-field;
    width: fit-content;
    padding: 12px;
    color: #000;
    border-radius: 20px 20px 0px 20px;
    font-size: 12px;
    word-break: break-word;
    margin: 0;
    white-space: pre-line;
}

.three-dot {
    position: relative;
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    align-self: center;
    justify-self: self-end;
    margin-inline-start: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

/* When direction is rtl */
.main-container:dir(ltr) .text-field p {
    border-radius: 20px 20px 20px 0px;
    background-color: #385BFC33;
    border: none;
}

/* When direction is ltr */
.main-container:dir(rtl) .text-field p {
    border-radius: 20px 20px 0px 20px;
    background-color: white;
    border: 1px solid #C2D4D9;
}

.main-container .time {
    grid-area: time;
    width: fit-content;
    font-size: 10px;
    margin-block-start: 1px;
    display: flex;
}

.main-container .time .tick-container {
    position: relative;
    width: fit-content;
    height: 10px;
    margin-inline-start: 4px;
}

.main-container .time .tick-container .tick {
    position: absolute;
    width: 9px;
    height: 6.67px;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.main-container .time .tick-container .receive-tick {
    inset-inline: 3px;
}

.image-container {
    grid-area: image-container;
    max-width: 500px;
    margin-block-end: 8px;
    display: none;
}

.image-container .list {
    width: 50%;
    max-width: 800px;
    min-height: 134px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
    border-radius: 20px;
    overflow: hidden;
}

.image-container img:nth-child(2n+1):last-child {
    grid-column: 1 / -1;
}

.image-container img:nth-child(2n):last-child {
    grid-column: auto;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tick.viewed {
    filter: invert(28%) sepia(99%) saturate(1957%) hue-rotate(188deg) brightness(97%) contrast(96%);
}